h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--color);
  text-align: center;
  background-color: #d9d5d5;
  margin: 0;
  padding: 0.5rem;
}

body {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

:root {
  --primary-color: #342f2f;
  --secondary-color: #000000;
  --accent1-color: #ceeeea;
  --accent2-color: #ffffff;
}

header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.rem; /*FONDO DEL HEADER*/
}

header a {
  color: var(--primary-color);
  /* texto del header buttoms*/
  text-decoration: none;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  border-radius: -4px;
}

#hero {
  background-image: url("https://i.etsystatic.com/34441425/r/il/3b4442/3699571894/il_1588xN.3699571894_4chi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero section {
  background-color: var(--accent1-color);
  margin: 1rem;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  opacity: 0.8;
  border-radius: var(--border-radius);
  image-rendering: auto;
}

.container p {
  padding: 1rem;
  margin: 1rem; /*MARGIN OF THE TEXT*/
}

div {
  margin:1px;
}

.container {
  background-color: var(--accent1-color);
  border-radius: var(--border-radius);
  margin: 0.8rem; /*MARGIN OF THE TEXT*/

}

footer {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  text-align: center;
  padding: 1.1px;
  position: relative;
}

footer #social {
  float: right;
  margin-top: -40px;
  
} /* para los logos  */